:root {
    --color-sell: #F6465D;
    --color-textSell: #E33B54;
    --color-sellHover: #FF707E;
    --color-depthSellBg: #FEF1F2;
    --color-buy: #0ECB81;
    --color-textBuy: #03A66D;
    --color-buyHover: #32D993;
    --color-depthBuyBg: #E6FFF1;
    --color-line: #EAECEF;
    --color-outlineHover: #FFEF87;
    --color-primary: #FCD535;
    --color-primaryHover: #F0B90B;
    --color-error: #E33B54;
    --color-errorBg: #FEF1F2;
    --color-success: #0ECB81;
    --color-successBg: #E6FFF1;
    --color-disable: #EAECEF;
    --color-iconNormal: #929AA5;
    --color-textWhite: #FFFFFF;
    --color-textGray: #EAECEF;
    --color-textBlack: #0B0E11;
    --color-textPrimary: #1E2329;
    --color-textSecondary: #474D57;
    --color-textThird: #707A8A;
    --color-textDisabled: #B7BDC6;
    --color-textBrand: #C99400;
    --color-textToast: #8D5F02;
    --color-bg: #F5F5F5;
    --color-bg1: #FFFFFF;
    --color-bg2: #FAFAFA;
    --color-bg3: #F5F5F5;
    --color-bg4: #5E6673;
    --color-bg6: #FFFFFF;
    --color-bg7: #FAFAFA;
    --color-popupBg: #FFFFFF;
    --color-badgeBg: #FEF6D8;
    --color-selectedBg: #FAFAFA;
    --color-gradientBrand: linear-gradient(180deg, #F8D12F 0%, #F0B90B 100%);
    --color-gradientPrimary: linear-gradient(295.27deg, #FFFFFF 0%, #E6E8EA 84.52%);
    --color-BasicBg: #FFFFFF;
    --color-SecondaryBg: #FAFAFA;
    --color-Input: #F5F5F5;
    --color-InputLine: #EAECEF;
    --color-CardBg: #FFFFFF;
    --color-Vessel: #FAFAFA;
    --color-Line: #EAECEF;
    --color-DisableBtn: #EAECEF;
    --color-TextDisabled: #B7BDC6;
    --color-TextThird: #707A8A;
    --color-TextSecondary: #474D57;
    --color-TextPrimary: #1E2329;
    --color-TextWhite: #FFFFFF;
    --color-TextGray: #EAECEF;
    --color-TextBlack: #0B0E11;
    --color-IconNormal: #929AA5;
    --color-LiteBg1: #FFFFFF;
    --color-LiteBg2: #FAFAFA;
    --color-BadgeBg: #FEF6D8;
    --color-OutlineHover: #FFEF87;
    --color-BtnBg: #FCD535;
    --color-PrimaryYellow: #F0B90B;
    --color-TextLink: #C99400;
    --color-TextToast: #8D5F02;
    --color-DepthSellBg: #FEF1F2;
    --color-SellHover: #FF707E;
    --color-Sell: #F6465D;
    --color-TextSell: #E33B54;
    --color-DepthBuyBg: #E6FFF1;
    --color-BuyHover: #32D993;
    --color-Buy: #0ECB81;
    --color-TextBuy: #03A66D;
    --color-ErrorBg: #FEF1F2;
    --color-Error: #E33B54;
    --color-SuccessBg: #E6FFF1;
    --color-Success: #0ECB81;
    --color-TagBg: #EAECEF;
    --color-Grid: #EAECEF;
    --color-Placeholder: #B7BDC6;
    --color-ToastBg: #707A8A;
    --color-mobile: [object Object];
}

.lf-progress {
    -webkit-appearance: none;
    -moz-apperance: none;
    width: 100%;
    /* margin: 0 10px; */
    height: 4px;
    border-radius: 3px;
    cursor: pointer;
}

.lf-progress:focus {
    outline: none;
    border: none;
}

.lf-progress::-moz-range-track {
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}

.lf-progress::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    height: 13px;
    width: 13px;
    border: 0;
    border-radius: 50%;
    background: #0fccce;
    cursor: pointer;
}

.lf-progress::-moz-range-thumb {
    -moz-appearance: none !important;
    height: 13px;
    width: 13px;
    border: 0;
    border-radius: 50%;
    background: #0fccce;
    cursor: pointer;
}

.lf-progress::-ms-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.lf-progress::-ms-fill-lower {
    background: #ccc;
    border-radius: 3px;
}

.lf-progress::-ms-fill-upper {
    background: #ccc;
    border-radius: 3px;
}

.lf-progress::-ms-thumb {
    border: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #0fccce;
    cursor: pointer;
}

.lf-progress:focus::-ms-fill-lower {
    background: #ccc;
}

.lf-progress:focus::-ms-fill-upper {
    background: #ccc;
}

.lf-player-container :focus {
    outline: 0;
}

.lf-popover {
    position: relative;
}

.lf-popover-content {
    display: inline-block;
    position: absolute;
    opacity: 1;
    visibility: visible;
    transform: translate(0, -10px);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    transition: all 0.3s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.lf-popover-content.hidden {
    opacity: 0;
    visibility: hidden;
    transform: translate(0, 0px);
}

.lf-player-btn-container {
    display: flex;
    align-items: center;
}

.lf-player-btn {
    cursor: pointer;
    fill: #999;
    width: 14px;
}

.lf-player-btn.active {
    fill: #555;
}

.lf-popover {
    position: relative;
}

.lf-popover-content {
    display: inline-block;
    position: absolute;
    background-color: #ffffff;
    opacity: 1;

    transform: translate(0, -10px);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    transition: all 0.3s cubic-bezier(0.75, -0.02, 0.2, 0.97);
    padding: 10px;
}

.lf-popover-content.hidden {
    opacity: 0;
    visibility: hidden;
    transform: translate(0, 0px);
}

.lf-arrow {
    position: absolute;
    z-index: -1;
    content: '';
    bottom: -9px;
    border-style: solid;
    border-width: 10px 10px 0px 10px;
}

.lf-left-align,
.lf-left-align .lfarrow {
    left: 0;
    right: unset;
}

.lf-right-align,
.lf-right-align .lf-arrow {
    right: 0;
    left: unset;
}

.lf-text-input {
    border: 1px #ccc solid;
    border-radius: 5px;
    padding: 3px;
    width: 60px;
    margin: 0;
}

.lf-color-picker {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90px;
}

.lf-color-selectors {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lf-color-component {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    align-items: center;
    justify-content: center;
}

.lf-color-component strong {
    width: 40px;
}

.lf-color-component input[type='range'] {
    margin: 0 0 0 10px;
}

.lf-color-component input[type='number'] {
    width: 50px;
    margin: 0 0 0 10px;
}

.lf-color-preview {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
}

.lf-preview {
    height: 60px;
    width: 60px;
}

.lf-popover-snapshot {
    width: 150px;
}

.lf-popover-snapshot h5 {
    margin: 5px 0 10px 0;
    font-size: 0.75rem;
}

.lf-popover-snapshot a {
    display: block;
    text-decoration: none;
}

.lf-popover-snapshot a:before {
    content: '⥼';
    margin-right: 5px;
}

.lf-popover-snapshot .lf-note {
    display: block;
    margin-top: 10px;
    color: #999;
}

.lf-player-controls>div {
    margin-right: 5px;
    margin-left: 5px;
}

.lf-player-controls>div:first-child {
    margin-left: 0px;
}

.lf-player-controls>div:last-child {
    margin-right: 0px;
}

.css-tq0shg {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
}

.css-tq0shg {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
}

.css-1wr4jig {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.css-v2uqgg {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: #FFFFFF;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.css-refety {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: url(https://bin.bnbstatic.com/static/images/ocbs/new-promotion-bg-375.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    padding-left: 16px;
    padding-right: 16px;
}

@media screen and (min-width: 768px) {
    .css-refety {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        background-image: url(https://bin.bnbstatic.com/static/images/ocbs/new-promotion-bg-768.png);
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (min-width: 1024px) {
    .css-refety {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }

    .pc\:max-w-\[936px\] {
        max-width: 936px !important;
    }

    .pc\:px-0 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .pc\:justify-start {
        justify-content: flex-start !important;
    }

    .pc\:items-start {
        align-items: flex-start !important;
    }

    .pc\:min-h-\[104px\] {
        min-height: 104px !important;
    }

    .pc\:mb-4 {
        margin-bottom: 1rem !important;
    }

    .pc\:items-start {
        align-items: flex-start !important;
    }

    .pc\:w-\[64px\] {
        width: 64px !important;
    }

    .pc\:h-\[64px\] {
        height: 64px !important;
    }

    .pc\:h-\[64px\] {
        height: 64px !important;
    }

    .pc\:pl-6 {
        padding-left: 1.5rem !important;
    }

    .pc\:mb-3 {
        margin-bottom: .75rem !important;
    }
}

.split-line {
    align-self: center;
    background-color: var(--color-line);
    height: 64px;
    margin: 0 40px;
    width: 1px;
}

.line-clamp-1 {
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 1 !important;
    display: -webkit-box !important;
    overflow: hidden !important;
}

.h-\[28px\] {
    height: 28px !important;
}

.user-info-iconwarp {
    align-items: center;
    background-color: var(--color-line);
    border-radius: 50%;
    display: flex;
    font-size: 24px;
    height: 24px;
    justify-content: center;
    width: 24px;
}

.truncate {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    font-size: 13px;
}

.fz-12 {
    font-size: 12px;
}

.break-all {
    word-break: break-all !important;
}

.whitespace-normal {
    white-space: normal !important;
}

.leading-\[24px\] {
    line-height: 24px !important;
}

.font-semibold {
    font-weight: 600 !important;
}

.rounded-\[10px\] {
    border-radius: 10px !important;
}

.bn-flex {
    display: flex;
}

.pt-6 {
    padding-top: 1.5rem !important;
}

.css-ct51jz {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: white;
    height: 90px;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

@media screen and (min-width: 768px) {
    .css-ct51jz {
        width: 406px;
        height: 90px;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

@media screen and (min-width: 1024px) {
    .css-ct51jz {
        width: 100%;
        height: auto;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.css-1ky56cz {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
}

.css-6qplja {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #1E2329;
    z-index: 20;
    position: relative;
}

@media screen and (min-width: 768px) {
    .css-6qplja {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (min-width: 1024px) {
    .css-6qplja {
        font-weight: 600;
        font-size: 50px;
        line-height: 62px;
    }
}

.css-vptphl {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    font-weight: 400;
    margin-top: 4px;
    font-size: 14px;
    line-height: 20px;
    color: #1E2329;
}

@media screen and (min-width: 768px) {
    .css-vptphl {
        margin-top: 4px;
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .css-vptphl {
        margin-top: 16px;
        font-size: 20px;
        line-height: 28px;
    }
}

.css-p0edg4 {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    margin-top: 48px;
    display: none;
}

@media screen and (min-width: 768px) {
    .css-p0edg4 {
        display: none;
    }

    .css-p8i81 {
        flex-direction: column;
        align-items: flex-end;
    }
}

@media screen and (min-width: 1024px) {
    .css-p0edg4 {
        display: block;
    }
}

.css-vxi9ug {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    color: #1E2329;
    font-size: 16px;
    font-weight: 400;
}

.css-beckt8 {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.css-vurnku {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
}

.css-1lrfikv {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 20px;
}

.css-fafzrk {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    max-width: 100%;
    height: auto;
    width: 24px;
}

.d-none {
    display: none;
}

.option-container {
    display: flex;
    align-items: center;
    /* Căn chỉnh các items theo chiều dọc ở giữa */
}

.option-container img {
    margin-right: 5px;
    /* Khoảng cách giữa ảnh và chữ */
}

img.img-flag {
    width: 20px;
}

.js-example-basic-single, .js-example-basic-single-sell{
    width: 100px;
    border: 1px solid #dee2e6 !important;

}

.css-kfoj1s {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    box-shadow: 0px 0px 1px rgba(24, 26, 32, 0.1), 0px 3px 6px rgba(71, 77, 87, 0.04), 0px 1px 2px rgba(24, 26, 32, 0.04);
    position: relative;
    padding-bottom: 10px;
}

.css-1o0xzgt {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.css-kazfp3 {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    z-index: 2;
    gap: 24px;
}

.css-sy1tae {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-column-gap: 8px;
    column-gap: 8px;
    row-gap: 16px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    z-index: 1;
    max-width: none;
    padding-top: 4px;
    padding-bottom: 4px;
}

.css-1ljlsho,
.css-xku7ik {
    font-size: 16px;
    fill: currentColor;
    color: #B7BDC6;
    width: 1em;
    height: 1em;
}

.css-1z06va3 {
    font-size: 13px;
}

.note-network {
    font-size: 12px;
}

.select2-selection__rendered {
    line-height: 31px !important;
}

.select2-container .select2-selection--single {
    height: 35px !important;
}

.select2-selection__arrow {
    height: 34px !important;
}

.fs-16px {
    font-size: 16px !important;
}

.select2-selection__rendered {
    font-size: 15px !important;
}

.sub-menu {
    color: rgb(30, 35, 41);
    text-decoration: none;
}

.sub-menu:hover {
    color: rgb(252, 213, 53) !important;
}

.transaction {
    color: #ffff;
    text-decoration: none;
    display: block;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.bank-verify {
    font-size: 14px;
    margin-left: 10px;
}

.modal-body-choose-verify {
    padding: 3rem !important;
}

.dialog-choose-verify {
    margin: 6.75rem auto !important;
}

.dialog-choose-verify .btn {
    padding: 1rem 0;
    font-size: 14px;
    background-color: rgb(252, 213, 53) !important;
}

.upload-container {
    text-align: center;
    margin: 20px;
}

#previewImage {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.select2-container--default .select2-selection--single {
    border-radius: 5px;
    height: 100% !important;
}

.form-control {
    margin: 0 !important;
    border-radius: 5px !important;
    border-color: #ababab;
}

.verify-check {
    display: flex;
    gap: 5px;
    border: none !important;
}
.css-10nf7hq {
    color: #474D57;
    font-size: 15px;
}
.title-info-instruct{
    display: flex;
    justify-content: space-around;
    font-size: 24;
}
.input-one {
    font-size: 24;
}


